.knob {
  border-radius: 100% !important;
  position: relative;
}

.knob-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 9999 !important;
  background-color: turquoise;
  opacity: 0.2;
}

.knob-mark-cont {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.knob-mark-cont > div {
  position: absolute;
  height: 30%;
  top: 0;
  left: 50%;
  margin-left: -4px;
  width: 8%;
  background: white;
  border-radius: 2px;
}

.knob-value-label {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  color: white !important;
  mix-blend-mode: difference;
}
